//opacity
$opacity: rgba(255, 255, 255, 0);

//black
$black-text: #2B2D3F;

//white
$main-white: #FFFFFF;

//gray
$gray-border: rgba(255, 255, 255, 0.3);

//gold
$gold: #FFBD00;
$gold-gradient: linear-gradient(93.03deg, #ffbc19 -3.34%, #fee92c 102.31%);
$gold-gradient-click:  linear-gradient(93.03deg, #ECA700 46.63%, #FCEA4C 94.69%);
$gold-shadow: rgba(255, 188, 0, 0.3);
$gold-shadow-lite: rgba(0, 0, 0, 0.2);
